<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumo do Cadastro</title>
    <link rel="stylesheet" href="https://stackpath.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1>Resumo do Cadastro</h1>
        <div>
            <h2>Dados do Titular</h2>
            <hr>
            <p>Nome: {{ titular.titular }}</p>
            <p>Código do Beneficiário: {{ titular.cod_beneficiario }}</p>
            <p>CPF/CNPJ: {{ titular.cpf_cnpj }}</p>
            <p>Número da Conta Corrente: {{ titular.num_conta_corrente }}</p>
            <p>Data de Nascimento: {{ titular.dt_nascimento }}</p>
            <p>Idade: {{ idade_titular }}</p>
            <p>Sexo: {{ titular.sexo_titular }}</p>
            <p>Número de Telefone: {{ titular.num_telefone }}</p>
            <p>UF: {{ titular.uf }}</p>
            <p>Cidade: {{ titular.cidade }}</p>
            <p>Endereço: {{ titular.endereco }}</p>
            <hr>
            <p>Descrição do Plano: {{ descricao_titular }}</p>
            <p>Código do Contrato: {{ titular.cod_contrato }}</p>
            <p>Valor do Plano: {{ valor_titular }}</p>
            <p>Data do Contrato: {{ titular.dt_contrato }}</p>
        </div>

        {% if dependentes %}
        <hr>
        <h2>Dados dos Dependentes (DEBUG)</h2>
        <ul>
            {% for dependente in dependentes %}
            <li>
                <pre>{{ dependente|tojson(indent=2) }}</pre>
            </li>
            {% endfor %}
        </ul>
        <hr>
        <h2>Dependentes</h2>
        <ul>
            {% for i in range(dependentes|length) %}
            <li>
                <p>Nome: {{ dependentes[i].nome }}</p>
                <p>Código do Beneficiário: {{ dependentes[i].cod_beneficiario }}</p>
                <p>CPF: {{ dependentes[i].cpf }}</p>
                <p>Data de Nascimento: {{ dependentes[i].dt_nascimento }}</p>
                <p>Idade: {{ dependentes[i].idade }}</p>
                <p>Parentesco: {{ dependentes[i].parentesco }}</p>
                <p>Sexo: {{ dependentes[i].sexo }}</p>
                <hr>
                <p>Descrição do Plano: {{ valores_dependentes[i].descricao }}</p>
                <p>Código do Contrato: {{ titular.cod_contrato }}</p>
                <p>Valor do Plano: {{ valores_dependentes[i].valor }}</p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <hr>
        <h2>Total</h2>
         <p><strong>Valor Total do Plano:</strong> {{ total }}</p>

        <form method="POST" action="/salvar_csv">
            {% for key, value in titular.items() %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endfor %}
            <input type="hidden" name="idade_titular" value="{{ idade_titular }}">
            <input type="hidden" name="valor_titular" value="{{ valor_titular }}">
            <input type="hidden" name="descricao_titular" value="{{ descricao_titular }}">
            <input type="hidden" name="total" value="{{ total }}">

            {% if dependentes %}
                {% for i in range(dependentes|length) %}
                    <input type="hidden" name="dependente_nome_{{ i + 1 }}" value="{{ dependentes[i].nome }}">
                    <input type="hidden" name="dependente_cod_beneficiario_{{ i + 1 }}" value="{{ dependentes[i].cod_beneficiario }}">
                    <input type="hidden" name="dependente_sexo_{{ i + 1 }}" value="{{ dependentes[i].sexo }}">
                    <input type="hidden" name="dependente_cpf_{{ i + 1 }}" value="{{ dependentes[i].cpf }}">
                    <input type="hidden" name="dependente_nasc_{{ i + 1 }}" value="{{ dependentes[i].dt_nascimento }}">
                    <input type="hidden" name="dependente_parentesco_{{ i + 1 }}" value="{{ dependentes[i].parentesco }}">
                    <input type="hidden" name="idade_dependente_{{ i + 1 }}" value="{{ dependentes[i].idade }}">
                    <input type="hidden" name="valor_dependente_{{ i + 1 }}" value="{{ valores_dependentes[i].valor }}">
                    <input type="hidden" name="descricao_dependente_{{ i + 1 }}" value="{{ valores_dependentes[i].descricao }}">
                {% endfor %}
            {% endif %}

            <button type="submit" class="btn btn-success">Salvar Cadastro em CSV</button>
        </form>
    </div>
</body>
</html>
